/* 
Robert Minkler
CSD 340
BioSite
 */


body {
    font-family: Tahoma, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    color: #012e40;
}

h2 {
    color: #012e40
}

h3 {
    color: #025159;
    font-style: italic;
}

a {
    color: #025159
}

a:hover, a:active {
    color: #03a696;
}

a:visited {
    color: #038c8c;
}


.md-circle-img {
    width: 350px;
    height: 350px;
    clip-path: circle();
}

blockquote {
    padding: 30px;
    border-left: 3px solid #025159;
    background-color: #e5f4f3;
    box-shadow: 5px 8px 15px #02515955;
}

.white-block {
    background-color: #ffffff;
    padding: 30px;
}

.md-blue-block {
    background-color: #03a696;
    padding: 30px;
}

.lt-blue-block {
    background-color: #e5f4f3;
    padding: 30px;
}

.card-img {
    object-fit: cover;
    border-radius: 25px;;
    width: 350px;
    height: 350px;
    box-shadow: 5px 8px 15px #02515955;
}

.card-caption {
    color: #ffffff;
    font-size: .8em;
    font-style: italic;
}

.card-figure {
    padding: 20px;
    width: 350px;
}

figure {
    text-align: center;
}

/* Header CSS */
header {
    border-top: 30px solid #038c8c;
    background-color: #025159;
    padding: 0px 50px;
    overflow: hidden;
}

header a, header a:visited {
    padding: 26px 30px 26px 10px;
    display: block;
    float: left;
}

#orange-nav-bar {
    background-color: #f28705;
    margin-top: 50px;
    height: 5px;
    width: 60%;
    position: absolute;
    right: 0;
}

/* Navigation Link CSS for both nav panels */
nav a, nav a:visited {
    color: #e5f4f3;
    text-decoration: none;
}

nav a:hover, nav a:active {
    color: white;
    text-shadow: 2px 2px 2px #025159, 
                 0px 8px 8px #038c8c;
}

/* Footer CSS */
footer {
    background-color: #025159;
    text-align: center;
    padding: 30px 10px 5px 10px;
    color: #e5f4f3;
    white-space: nowrap;
}

.text-divider {
    margin: 40px;
    color: #f28705;
}

footer p {
    margin: 20px auto 10px auto;
    font-size: .8em;
}

/* Column layout */
.grid-2-col {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px 20px;
    padding: 20px;
}

.grid-3-col {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    gap: 20px 20px;
    padding: 20px;
}